## Analysis of Visiter.csv

In [1]:
import pandas as pd
import numpy as np

vstr = pd.read_csv('visitors.csv')

vstr['visitor'].head()

0   NaN
1   NaN
2   NaN
3   NaN
4   NaN
Name: visitor, dtype: float64

In [3]:
vstr.shape

(12165, 28)

In [4]:
vstr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12165 entries, 0 to 12164
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        12165 non-null  int64
 1   company_repName           12165 non-null  object
 2   company_name              12110 non-null  object
 3   blood_group               590 non-null    object
 4   mobile_no                 12161 non-null  float64
 5   email                     12164 non-null  object
 6   designation               629 non-null    object
 7   country                   11847 non-null  object
 8   password                  12165 non-null  object
 9   visitor                   0 non-null      float64
 10  profession                12165 non-null  object
 11  role                      12165 non-null  object
 12  createdAt                 12165 non-null  object
 13  updatedAt                 12165 non-null  object
 14  city                      11853 non-null  object
 15  state                     11849 non-null  object
 16  vaccine_certificate       376 non-null    object
 17  id_certificate            376 non-null    object
 18  company_logo              0 non-null      float64
 19  alternative_email         0 non-null      float64
 20  address_line1             0 non-null      float64
 21  address_line2             0 non-null      float64
 22  address_line3             0 non-null      float64
 23  company_repProfile        29 non-null     object
 24  firebaseToken             1964 non-null   object
 25  socket_id                 3 non-null      object
 26  about_me                  0 non-null      float64
 27  account_deletion_request  12165 non-null  int64
dtypes: float64(8), int64(2), object(18)
memory usage: 2.6+ MB

In [4]:
vstr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12165 entries, 0 to 12164
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        12165 non-null  int64
 1   company_repName           12165 non-null  object
 2   company_name              12110 non-null  object
 3   blood_group               590 non-null    object
 4   mobile_no                 12161 non-null  float64
 5   email                     12164 non-null  object
 6   designation               629 non-null    object
 7   country                   11847 non-null  object
 8   password                  12165 non-null  object
 9   visitor                   0 non-null      float64
 10  profession                12165 non-null  object
 11  role                      12165 non-null  object
 12  createdAt                 12165 non-null  object
 13  updatedAt                 12165 non-null  object
 14  city                      11853 non-null  object
 15  state                     11849 non-null  object
 16  vaccine_certificate       376 non-null    object
 17  id_certificate            376 non-null    object
 18  company_logo              0 non-null      float64
 19  alternative_email         0 non-null      float64
 20  address_line1             0 non-null      float64
 21  address_line2             0 non-null      float64
 22  address_line3             0 non-null      float64
 23  company_repProfile        29 non-null     object
 24  firebaseToken             1964 non-null   object
 25  socket_id                 3 non-null      object
 26  about_me                  0 non-null      float64
 27  account_deletion_request  12165 non-null  int64
dtypes: float64(8), int64(2), object(18)
memory usage: 2.6+ MB

In [6]:
vstr.shape

(12165, 28)

## Checking the occurence of a keyword in the company name to identify the company type

In [34]:
keyword = 'Boiler'
x = vstr['company_name'].dropna()
x[(x.str.contains(keyword, case=False))].count()

261

In [5]:
vstr.describe()

,id,mobile_no,visitor,company_logo,alternative_email,address_line1,address_line2,address_line3,about_me,account_deletion_request
count,12165.000000,1.216100e+04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12165.000000
mean,6149.860173,8.778943e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.001397
std,3525.854599,3.353145e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.037358
min,3.000000,9.761932e+07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
25%,3102.000000,9.181700e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
50%,6154.000000,9.191757e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
75%,9204.000000,9.198200e+11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
max,12246.000000,9.779851e+12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000

In [19]:
vstr['designation'].value_counts()

designation
Director                          20
Student                           18
Manager                           16
                                  14
Managing Director                 11
                                  ..
Boiler operator                    1
Project Engineer                   1
ADVISIOR/CONSULTANT/INVESTOR       1
ADVISOR - INVESTOR- CONSULTANT     1
Learn                              1
Name: count, Length: 414, dtype: int64

## Extracting usefull attributes from dataset

In [44]:
features = ['company_name', 'designation', 'profession']

vstr = vstr[features]
vstr.head()

,company_name,designation,profession
0,Kriti Trade Impex Pvt Ltd New Delhi,Assistant Manager,Engineer/Operatorlookingfornewtechnology
1,MTAR Technologies Ltd,Business Development Manager,Purchase personnel from boiler manufacturing c...
2,Utopian sugars Ltd,Boiler Attendant,Engineer/Operatorlookingfornewtechnology
3,Berkeley Energy Commercial and Industrial Soli...,Assistant Manager - BD,RenewableEnergyProjectDeveloper
4,Zeel Engineering and Fabrication,Founder,PurchasePersonnelFromBoilerManufacturingCompany

In [42]:
vstr['profession'].value_counts()

profession
Engineer / operator looking for new technology                                                3600
Academicians / students / engineering colleges                                                2140
Purchase personnel from boiler-user industry                                                  2131
Design engineer / consultant                                                                  1487
Purchase personnel from boiler manufacturing company                                          1261
Agencies dealing in instrumentation                                                            926
Investor / banker / venture capitalist                                                         232
other                                                                                          139
Regulatory authority / policy maker / urban planning specialist / utility & energy company     131
Engineer/Operatorlookingfornewtechnology                                                        64
DesignEngineer/Consultant                                                                       17
Academician/student                                                                             14
PurchasePersonnelFromBoilerManufacturingCompany                                                 14
RenewableEnergyProjectDeveloper                                                                  3
R&DInstitution                                                                                   2
Investor/banker/ventureCapitalist                                                                2
Regulatory Authority/PolicyMaker/UrbanPlanningSpecialist/Utility&EnergyCompany                   1
AgenciesDealingInInstrumentation                                                                 1
Name: count, dtype: int64

In [46]:
vstr['company_name'].value_counts()

company_name
Thermax Ltd                                           69
Thermax Limited                                       60
Tolani Maritime Institute                             41
Thermax                                               40
Thermax Ltd.                                          29
                                                      ..
Karan Distilleries Pvt Ltd                             1
Sharad Institute of technology polytechnic Yadrav      1
GIRIRAJ CHAWAL UDYOG                                   1
Aryan Boilers Pvt ltd  Baramati                        1
Electromac Industries                                  1
Name: count, Length: 9499, dtype: int64

In [45]:
vstr['designation'].value_counts()

designation
Director                          20
Student                           18
Manager                           16
                                  14
Managing Director                 11
                                  ..
Boiler operator                    1
Project Engineer                   1
ADVISIOR/CONSULTANT/INVESTOR       1
ADVISOR - INVESTOR- CONSULTANT     1
Learn                              1
Name: count, Length: 414, dtype: int64

In [49]:
vstr = pd.read_csv('visiter2.csv')

vstr.head()

  visitor_profession visitor_role visitor_preferrance
0           Engineer  Businessman     Cutting Machine
1    Student/Teacher  Businessman     Cutting Machine
2           Engineer  Businessman       Sugar Machine
3         Management          Job       Sugar Machine
4    Student/Teacher          Job       Sugar Machine

In [51]:
vstr.shape

(1000, 3)

In [50]:
vstr['visitor_profession'].value_counts()

visitor_profession
Management         336
Engineer           332
Student/Teacher    332
Name: count, dtype: int64

In [53]:
vstr['visitor_preferrance'].value_counts()

visitor_preferrance
Boiler             255
CNC                254
Cutting Machine    248
Sugar Machine      243
Name: count, dtype: int64

In [52]:
vstr['visitor_role'].value_counts()

visitor_role
Businessman    500
Job            500
Name: count, dtype: int64

## Try to find dependency between the attributes(Failed)

In [57]:
# ! pip install seaborn
import seaborn as sns
import matplotlib.pyplot as plt

heatmap = sns.heatmap(vstr)  # You can choose other colormaps like "RdBu" or "coolwarm"

# Customize the heatmap (optional)
heatmap.set_title("My Heatmap")  # Add a title
heatmap.set_xlabel("X-axis Label")  # Set X-axis label
heatmap.set_ylabel("Y-axis Label")  # Set Y-axis label

plt.show()

ValueError: could not convert string to float: 'Engineer'